@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    background-color: red;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #1a1a2e;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 10px;
    height: 10px;
    background: rgba(203, 224, 11, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 100px;
    height: 100px;
    animation-delay: 1s;
    animation-duration: 30s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 100px;
    height: 100px;
    animation-delay: 2s;
    animation-duration: 22s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 80px;
    height: 80px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 135px;
    height: 135px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 75px;
    height: 75px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 75px;
    height: 75px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 11s;
}




@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1200px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* @media screen and (max-width: 620px) {
    .area {
    background: red;
    width: 100%;
    height: 100%;
    }
}  */