* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);
  
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
  
}

/* .body {
    /* display: grid;
    place-items: center; */
 
    /* background-color: red; */
    /* width: 100%;
    height: 100%; */

main {
    background: blue;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal {
    width: 375px;
    height: 850px;
    min-height: 800px;
    /* background-color: red; */
    position: absolute;
    background: url(images/background.svg);
    background-repeat: no-repeat;
}
 

.container {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
    margin: 5.5rem auto 0;
    position: relative;

}

/* .avatar spam {
    position: absolute;
    top: -15px;
    z-index: 1;
} */

.avatar > img {
    margin-top: 7rem;
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% ) ;
}

h1 {
    font-size: 1.5rem;
    color: rgb(218, 233, 12);
    margin-top: 1.50rem;

}
h3 {
    color: #fff;
}

a {
    color: var(--grey);
    text-decoration: none;
    margin-top: 0.25rem;
    display: flex;
    gap: 0.65rem;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
}


.ulSocialLinks {
    margin-top: 1rem;
    
    list-style: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;

}

.ulSocialLinks li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 40, 48);
    height: 2.9rem;
    width: 100%;
}

.ulSocialLinks li:hover {
    background-color: rgba(219, 243, 8, 0.2);
}


@media screen and  (max-width: 620px){
    main {
        width: 100%;
        height: 100%;
    }
   

    .principal{
        height: 47rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 5px;
        margin-right: 5px;
        
    }
    .container{
        width: 380px;
        
    }

    .avatar > img {
        
        width: 8rem;
        height: 9.5rem;
        margin-top: 4rem;
    }

}

@media screen and  (max-width: 420px){
    .principal{
       margin-top: 10px 5px 10px 5px;
       
       
    }
    .container{
        height: 400px;
    }
    .ulSocialLinks {
        width: 100%;
    }
    .ulSocialLinks li {
        width: 100%;
    }
}